<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html>



{{!-- <!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    {{>header}}

    <p>{{errorMessage}}</p>
    
    {{>footer}}
    {{!-- <p>Created by: {{name}}</p> --}}
{{!-- </body>

</html> --}} 