<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Roei Kalanski. It uses data from mapbox.com and darsky.net</p>
        <img class="portrait" src="/img/Webp.net-resizeimage (1)">
    </div>
    
    {{>footer}}
</body>

</html>

{{!-- <!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="/img/me.png">
    <p>Created by {{name}}</p>
</body>

</html> --}}